.modern-link {
  cursor: pointer;
  color: #0070d7;
  font-weight: bold;
  font-size: 10pt;
  text-decoration: none;
}
.modern-link:hover {
  text-decoration: underline;
}

a {
  color: #0070d7;
  text-decoration: underline;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/** VUETIFY **/

.mdi {
  all: initial;
}

#vbtn1 {
  border: none;
  box-shadow: none;
  color: white !important;

  border-radius: 0px;
  cursor: pointer;
}

#vexpansionpannel > * > button {
  border: none;
  box-shadow: none;
  border-radius: 0px;
}

.v-expansion-panel-header {
  border: none !important;
  box-shadow: none;
  border-radius: 0px;
}

#vselect {
  /*background: none;
  border: none;*/
  all: initial;
  visibility: hidden;
}

#vselect:focus {
  /*background: none;
  border: none;
  box-shadow: none;*/
  all: initial;
}

/** autocomplete */
.v-menu__content {
  z-index: 99999999 !important;
}

.v-select__selections {
  display: flex !important;
}

.v-select__selections > input {
  all: initial !important;
}

.v-label {
  font-weight: normal !important;
}

/* text */

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 .header-anchor {
  visibility: hidden;
  display: none;
}

.header-anchor {
  color: rgb(0, 192, 80);
  text-decoration: none;
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;

  padding-right: 0.25em;
  margin-top: 0.125em;
}
h2:hover .header-anchor {
  visibility: visible;
  display: block;
}
